<main>
    <nav class="sidebar" [ngClass]="{'close' : isClose }">
        <header>
            <div class="image-text">
    
                <span class="image">
                    <div class="logo"></div>
                </span>
    
                <div class="text header-text">
                    <span class="name">Erick Eduardo</span>
                    <span class="role">Administrador</span>
                </div>
            </div>
            <div class="toggle" (click)="toggleSidebar()">
                <div class="chevron-right"></div>
            </div>
        </header>

        <div class="hr-custome"></div>
        
        <div class="menu-bar">
            <div class="menu">
                <!-- SEARCH -->
                <li class="search-box">
                    <div class="icon">
                        <div class="icon-search"></div>
                    </div>
                    <input type="search" placeholder="Search...">
                </li>
                <!-- MENU LINKS -->
                <ul class="menu-links">
                    <!-- LINK 1 -->
                    <li class="nav-link">
                        <a >
                            <div class="icon">
                                <div class="icon-home"></div>
                            </div>
                            <span class="text nav-text">Layout</span>
                        </a>
                    </li>
                    <!-- LINK 2 -->
                    <li class="nav-link">
                        <a >
                            <div class="icon">
                                <div class="icon-home"></div>
                            </div>
                            <span class="text nav-text">Content</span>
                        </a>
                    </li>
                    <!-- LINK 3 -->
                    <li class="nav-link">
                        <a >
                            <div class="icon">
                                <div class="icon-home"></div>
                            </div>
                            <span class="text nav-text">Forms</span>
                        </a>
                    </li>
                    <!-- LINK 4 -->
                    <li class="nav-link">
                        <a >
                            <div class="icon">
                                <div class="icon-home"></div>
                            </div>
                            <span class="text nav-text">Components</span>
                        </a>
                    </li>
                    <!-- LINK 5 -->
                    <li class="nav-link">
                        <a >
                            <div class="icon">
                                <div class="icon-home"></div>
                            </div>
                            <span class="text nav-text">Helpers</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</main>