
<div class="card-grid">
    <!--  HEADER -->
    <div class="card-header-kpi">
        <span class="span-header">Uso total</span>
        <div class="icon-info"></div>
    </div>
    <!-- BODY -->
    <div class="card-body-kpi">
        <span class="span-body">9,336</span>    
        <!-- FOOTER -->
        <div class="card-footer-kpi">
            <div class="icon-success"></div>
            <span class="span-success"> 8% </span>
            <span class="span-footer">vs comparación</span>
        </div>
    </div>
</div>
