.icon-calendar {
    background: var(--icon-calendar); 
    background-position: right;
    height: var(--size-icon-md);
    width: var(--size-icon-md);
}

.input-container {
    position: inherit;
    background-color: var(--color-container);
    display: flex;
    flex-direction: row;
    /* padding: var(--input-padding); */
    width: var(--input-width-sm);
    justify-content: space-between;
    border: solid 1px var(--color-primary-200);
    border-radius:var(--input-radius);
    min-height: var(--btn-minheight);
}

.input-container:hover {
    background-color: var(--color-bg);
    border: solid 1px var(--color-primary-200);
}

.input-gbl {
    position: relative;
    width: 100%;
    background: none;
    border: none;
    font-size:var(--font-b1);
    margin-left: 24px;
}

input:focus {
    outline: none; 
}

.btn-calendar {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 24px;
}


