<div class="container-2">
    <div class="container-moment">
        <div class="input-container">
            <input type="text" class="input-gbl" placeholder="{{selectedDay | date:'MM/dd/yyyy'}}">
            <button type="submit" class="btn-calendar">
                <div class="icon-calendar">
                    <div class="calendar">
                        <div class="header-calendar">
                            <div class="icon icon-chevron-left" (click)="prevMonth()"></div>
                            <span class="month">
                                <span>{{currentMonth}}</span>
                                <span>{{currentYear}}</span>
                            </span>
                            <div class="icon icon-chevron-right" (click)="nextMonth()"></div>
                        </div>
                        <!-- DAYS OF WEEK -->
                        <ol>
                            <li *ngFor="let day of daysWeek" class="day-week">
                                {{day.slice(0,3)}}
                            </li>
                        </ol>
                        <!-- DAYS OF MONTH -->
                        <ol>
                            <li class="day" 
                                [style.grid-column-start]="i === 0 ? firstDay + 1: ''" 
                                *ngFor="let day of daysInMonth; let i = index" 
                                (click)="selectDay(day)">
                                {{ day | date:'d' }}
                            </li>
                        </ol>
                    </div>
                </div>
            </button>
        </div>
        <button type="submit" class="btn-calendar-sm">
            <div class="icon-calendar-sm"></div>
        </button>
        <br>
    </div>
    
    <!-- ! ERASE -->
    <span>
        <strong>Time</strong>
        <br>
        {{selectedDay | date:'shortTime'}}
        <br>
        <br>
        
        <strong>Custome Date</strong>
        <br>
        {{selectedDay | date:'MM/dd/yyyy'}}
        <br>
        <br>

        <strong>Short</strong>
        <br>
        {{selectedDay | date:'short'}}
        <br>
        <br>

        <strong>Custome Date</strong>
        <br>
        {{selectedDay | date:'EEEE, MMMM d, y'}}
        <br>
        <br>

        <strong>Long</strong>
        <br>
        {{selectedDay | date:'long'}}
    </span>
</div>