<!--? HEADER -->
<div class="grid-breadcrumb">
    <!-- COLUMN 2 -->
    <!-- BREADCRUMB -->
    <div class="column-1">
        <span class="span-locker">Lockers</span>
        <div class="icon-chevron-right"></div>
        <span class="locker-selected">Locker selected</span>
    </div>
    <!-- COLUMN 2 -->
    <!-- BUTTONS -->
    <div class="column-2">
        <app-button-upload></app-button-upload>
        <app-button-create-order></app-button-create-order>
    </div>
</div>

<!--? FIRST ROW -->
<div class="breadcrumb-container">
    <div class="tabs">
        <!--! TAB 1 ---------------------------------------------------------------------------------->
        <input type="radio" class="tabs_radio-locker" name="tabsLockerId" id="lockerTab1"checked>
        <!--? TITLE -->
        <label for="lockerTab1" class="tabs_label tab-txt"> 
          Resumen
        </label>
        <div class="tabs_content margin-top-custome animate__animated animate__fadeIn">
          <!--? COMPONENT TAB -->
          <app-summary></app-summary>
        </div>

        <!--! TAB 2 ---------------------------------------------------------------------------------->
        <input type="radio" class="tabs_radio-locker" name="tabsLockerId" id="lockerTab2">
        <!-- ? TITLE -->
        <label for="lockerTab2" class="tabs_label tab-txt">
          Cámaras
        </label>
        <div class="tabs_content margin-top-custome animate__animated animate__fadeIn">
            <!-- COMPONENT TAB -->
            <app-camera></app-camera>
        </div>

        <!--! TAB 3 ---------------------------------------------------------------------------------->
        <input type="radio" class="tabs_radio-locker" name="tabsLockerId" id="lockerTab3">
        <!-- ? TITLE -->
        <label for="lockerTab3" class="tabs_label tab-txt">
          Actividad
        </label>
        <div class="tabs_content margin-top-custome animate__animated animate__fadeIn">
            <!-- COMPONENT TAB -->
            <app-activity></app-activity>
        </div>
    </div>
</div>

 <!--? TABLES -->
 <div class="container-graphic">
  <!--? SECOND ROW -->
  <div class="row ">
      <div class="table-responsive ag-theme-alpine-custome">
          <div class="tabs">

              <!--! TAB 1 -->
              <input type="radio" class="tabs_radio" name="tabsSummary" id="tab1" checked>
              <label for="tab1" class="tabs_label subheader-primary">General</label>
              <div class="tabs_content my-4 animate__animated animate__fadeIn">
                  <!--? TABLE GENERAL -->
                  <div class="ag-theme-alpine-custome-2">
                    <app-table 
                      [usersHeader]="usuariosHeader" 
                      [users]="usuarios"
                      [calendar]="calendar"
                      [btnExport]="btnExport"
                      [filterFunnel]="filterFunnel">
                    </app-table>
                  </div>
              </div>

              <!--! TAB 2 -->
              <input type="radio" class="tabs_radio" name="tabsSummary" id="tab2">
              <label for="tab2" class="tabs_label subheader-primary">Expiradas</label>
              <div class="tabs_content my-4 animate__animated animate__fadeIn">
                  <!--? TABLE EXPIRED -->
                  <div class="ag-theme-alpine-custome-2">
                    <app-table 
                      [usersHeader]="usuariosHeader" 
                      [users]="usuarios"
                      [calendar]="calendar"
                      [btnExport]="btnExport"
                      [filterFunnel]="filterFunnel">
                    </app-table>
                  </div>
              </div>

              <!--! TAB 3 -->
              <input type="radio" class="tabs_radio" name="tabsSummary" id="tab3">
              <label for="tab3" class="tabs_label subheader-primary">Agendadas</label>
              <div class="tabs_content my-4 animate__animated animate__fadeIn">
                  <!--? TABLE SCHEDULE -->
                  <div class="ag-theme-alpine-custome-2">
                    <app-table 
                      [usersHeader]="usuariosHeader" 
                      [users]="usuarios"
                      [calendar]="calendar"
                      [btnExport]="btnExport"
                      [filterFunnel]="filterFunnel">
                    </app-table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


