<div class="container-table">
    <div class="grid-header">
        <div class="column-1">
            <app-button-export></app-button-export>
        </div>
        <!-- COL 1 -->
        <div class="column-2">
            <app-button-export></app-button-export>
        </div>
    </div>

    <div class="row-2">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio possimus doloribus quae beatae. Possimus impedit, nulla magnam suscipit exercitationem doloribus quos! Facere labore omnis vitae perspiciatis tempora expedita consequatur distinctio.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio possimus doloribus quae beatae. Possimus impedit, nulla magnam suscipit exercitationem doloribus quos! Facere labore omnis vitae perspiciatis tempora expedita consequatur distinctio.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio possimus doloribus quae beatae. Possimus impedit, nulla magnam suscipit exercitationem doloribus quos! Facere labore omnis vitae perspiciatis tempora expedita consequatur distinctio.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio possimus doloribus quae beatae. Possimus impedit, nulla magnam suscipit exercitationem doloribus quos! Facere labore omnis vitae perspiciatis tempora expedita consequatur distinctio.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio possimus doloribus quae beatae. Possimus impedit, nulla magnam suscipit exercitationem doloribus quos! Facere labore omnis vitae perspiciatis tempora expedita consequatur distinctio.
    </div>
</div>