<!-- CONTAINER TABLE} -->
<div class="container-table">
    <div class="grid-header">

        <!-- HEADER COLUMN 1 -->
        <div class="grid-header-column-1">
            <!-- INPUT -->
            <app-input></app-input>
        </div>
        <!-- HEADER COLUMN 2 -->
        <div class="grid-header-column-2">
        <!-- CALENDAR -->
            <app-calendar class="elem-1"></app-calendar>
        <!-- FUNNEL -->
            <app-filter-funnel class="elem-2"></app-filter-funnel>
        <!-- BUTTON -->
            <app-button-export class="elem-3"></app-button-export>
        </div>
    </div>
    <!-- TABLE EXAMPLE -->
    <div class="row-2">
        <table class="table">
            <thead>
                <tr>
                    <th *ngFor="let th of tableHeader;" class="grid-th">
                        <!-- <button (click)="sortArray(th.campo)">{{th.th | titlecase}}</button>
                        <div class="icon-arrow"></div> -->
                        <!-- BTN EXPORT -->
                        <button type="button" (click)="sortArray(th.campo)">
                            <div class="icon-arrow">
                                <span class="margin-start-icon">
                                    {{th.th | titlecase}}
                                </span>
                            </div>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios">
                    <td>
                        {{usuario.id}}
                    </td>
                    <td>
                        {{usuario.first_name}}
                    </td>
                    <td>
                        {{usuario.last_name}}
                    </td>
                    <td>
                        {{usuario.email}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>