<!-- CONTAINER TABLE} -->
<div [ngClass]="tableClass">
    <div class="grid-header">
        <!-- HEADER COLUMN 1 -->
        <div class="grid-header-column-1">
            <!-- SEARCH -->
            <div class="input-container">
                <input type="text" class="input-gbl" placeholder="Search">
                <!-- #txtSearch (keyup)="onSearch(txtSearch.value)"> -->
                <button type="submit" class="btn-search"> <div class="icon-search"></div></button>
            </div>
        </div>
        <!--? HEADER COLUMN 2 -->
        <div class="grid-header-column-2">
        <!-- CALENDAR -->
            <app-calendar class="{{calendar}}"></app-calendar>
        <!-- FUNNEL --> 
            <app-filter-funnel class="{{filterFunnel}}" ></app-filter-funnel>
        <!-- BUTTON EXPORT -->
            <app-button-export class="{{btnExport}}"></app-button-export>
        </div>
    </div>
    <!--? TABLE GRID -->
    <div class="row-2">
        <!--! TABLE STYLE -->
         <!-- TABLE STYLE -->
         <table class="table">
            <!-- TABLE HEADER -->
            <thead>
                <tr>
                    <th *ngFor="let th of tableHeader;" class="grid-th">
                        <button type="button" (click)="sortArray(this.tableData, th.filtro)">
                            <div class="icon-arrow">
                                <span class="margin-start-icon">
                                    {{th.th | titlecase}}
                                </span>
                            </div>
                        </button>
                    </th>
                </tr>
            </thead>
            <!-- TABLE DATA -->
            <tbody>
                <tr *ngFor="let td of tableData">
                    <td *ngFor="let header of tableHeader">
                        {{td[header.filtro]}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
