<div class="main-container">
    <!-- ROW 1 -->
    <div class="card-grid">
        <div class="card-sm">
            CARD A1
        </div>
        <div class="card-sm">
            CARD A2
        </div>
        <div class="card-sm">
            CARD A3
        </div>
        <div class="card-sm">
            CARD A4
        </div>
        <div class="card-sm">
            CARD A5
        </div>
        <div class="card-sm">
            CARD A6
        </div>
    </div>
    <!-- ROW 2 -->
    <div class="chart-grid">
        <div class="chart-md">Chart A1</div>
        <div class="chart-md">Chart A2</div>
    </div>
    <!-- ROW 3 -->
    <div class="ROW3">
        <div class="card-2-grid">
            <div class="card-sm">
                CARD B1
            </div>
            <div class="card-sm">
                CARD B2
            </div>
            <div class="card-sm">
                CARD B3
            </div>
        </div>
        <div class="card-2-grid">
            <div class="card-sm">
                CARD C1
            </div>
            <div class="card-sm">
                CARD C2
            </div>
            <div class="card-sm">
                CARD C3
            </div>
        </div>
    </div>
    <div class="ROW3">

        <div class="chart-2-grid">
            <div class="chart-md">Chart B1</div>
            <div class="chart-md">Chart B2</div>
            <div class="chart-md">Chart B3</div>
        </div>

        <div class="chart-2-grid">
            <div class="chart-md">Chart C1</div>
            <div class="chart-md">Chart C2</div>
            <div class="chart-md">Chart C3</div>
        </div>
    </div>
</div>