<!-- CONTAINER -->
<div class="overview-container">
    <!--? GRID START -->
    <div class="overview-grid">
        <!--? ROW 1 -->
        <!-- CARD-1 to 6 -->
        <!--! <app-card></app-card> -->
        <div class="card-grid card-1">card 1</div>
        <div class="card-grid card-2">card 2</div>
        <div class="card-grid card-3">card 3</div>
        <div class="card-grid card-4">card 4</div>
        <div class="card-grid card-5">card 5</div>
        <div class="card-grid card-6">card 6</div>

        <!--? ROW 2 -->
        <!-- CARD-7 to 8 -->
        <!--! <app-packet-history></app-packet-history> -->
        <div class="card-grid card-7">card 1</div>

        <!--! <app-delivered-returned></app-delivered-returned> -->
        <div class="card-grid card-8">card 2</div>
        
        <!--? ROW 3 -->
        <!-- CARD-9 to 11 -->
        <!--! <califications-average></califications-average> -->
        <div class="card-grid card-9">card 2</div>


        <div class="card-grid card-10">card 2</div>

        <div class="card-grid card-11">card 2</div>
    </div>
</div>