
.breadcrumb-container {
    background:var(--color-container);
    border-radius: var(--radius-sm);
    padding: var(--table-padding);
    margin-bottom: var(--spacing-sm);
}

/*? TABS ---------------------------------------------------> */
.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 1550px;
  font-weight:var(--font-medium);
  font-size: 16px;
  text-align: center;
}

.tab-txt {
  font-size:var(--font-h3);
  color: var(--color-primary-300);
}

.tabs_label {
  padding: var(--padding-tab-sm);
  cursor: pointer;
}

.tabs_radio-locker {
  display: none;
}

.tabs_content {
  order: 1;
  width: 100%;
  line-height: 1.5;
  font-size: 0.9em;
  display: none;
}

.tabs_radio-locker:checked+ .tabs_label {
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-primary);
  font-weight: var(--font-semibold);
}

.tabs_radio-locker:checked+ .tabs_label + .tabs_content {
  display: initial;
}

.margin-top-custome {
  margin-top: 24px;
}
