<!--? FIRST ROW -->
<div class="breadcrumb-container">
    <div class="tabs">
        <!--! TAB 1 ---------------------------------------------------------------------------------->
        <input type="radio" class="tabs_radio-locker" name="tabsLockerId" id="lockerTab1"checked>
        <!--? TITLE -->
        <label for="lockerTab1" class="tabs_label tab-txt"> 
          Table 1
        </label>
        <div class="tabs_content margin-top-custome animate__animated animate__fadeIn">
          <!--? COMPONENT TAB -->
            <app-table2></app-table2>
        </div>

        <!--! TAB 2 ---------------------------------------------------------------------------------->
        <input type="radio" class="tabs_radio-locker" name="tabsLockerId" id="lockerTab2">
        <!-- ? TITLE -->
        <label for="lockerTab2" class="tabs_label tab-txt">
          Table 2
        </label>
        <div class="tabs_content margin-top-custome animate__animated animate__fadeIn">
            <!-- COMPONENT TAB -->
            <app-table></app-table>
        </div>
    </div>
</div>