@import './assets/var-styles/var-styles.css';

/*? GLOBAL STYLES ----------------------------------> */
body {
    background-color: var(--color-bg);
    margin: 0;
    padding: 0;
}
* {
    font-family: var(--primary-font);
}

/*! CONTAINERS -----------------------------------> */
/* RESPONSIVE CONTAINER */
.container-grid {
    display: grid;
    width:var(--container-width);
    max-width: var(--container-max-width);
    margin-inline:auto;
}

.auth-container {
    width: 466px;
    margin-inline:auto;
    background: var(--color-container);
    border-radius: var(--radius-gbl); 
    padding: 21px 32px;
}

/*! BUTONS ----------------------------------->*/
/*? BTN SM */
.btn-primary-gbl-sm {
    font-family: var(--primary-font);
    background-color:var(--color-btn-default);
    color: var(--color-container);
    font-size: var(--font-b1);
    height: var(--btn-primary-height-sm);
    padding: var(--btn-primary-padding-sm);
    border-radius:var(--btn-radius);
    border: none;
}

/* HOVER */
.btn-primary-gbl-sm:hover {
    background: var(--color-btn-hover);
}

/* ACTIVE */
.btn-primary-gbl-sm:active {
    background: var(--color-btn-active);
}

/*? BTN MD */
.btn-primary-gbl-md {
    font-family: var(--primary-font);
    background-color:var(--color-btn-default);
    color: var(--color-container);
    font-size: var(--font-c2);
    height: var(--btn-primary-height-md);
    padding: var(--btn-primary-padding-md);
    border-radius:var(--btn-radius);
    border: none;
}

/* HOVER */
.btn-primary-gbl-md:hover {
    background: var(--color-btn-hover);
}

/* ACTIVE */
.btn-primary-gbl-md:active {
    background: var(--color-btn-active);
}

/*! RESPONSIVE -----------------------------------> */
