<!-- CONTAINER TABLE} -->
<div class="container-table">
    <div class="grid-header">

        <!-- HEADER COLUMN 1 -->
        <div class="grid-header-column-1">
            <!-- INPUT -->
            <app-input></app-input>
        </div>
        <!-- HEADER COLUMN 2 -->
        <div class="grid-header-column-2">
        <!-- CALENDAR -->
            <app-calendar class="elem-1"></app-calendar>
        <!-- FUNNEL -->
            <app-filter-funnel class="elem-2"></app-filter-funnel>
        <!-- BUTTON -->
            <app-button-export class="elem-3"></app-button-export>
        </div>
    </div>
    <!-- TABLE EXAMPLE -->
    <div class="row-2">
        <table class="table">
            <thead>
                <tr>
                    <th>head 1</th>
                    <th>head 2</th>
                    <th>head 3</th>
                    <th>head 4</th>
                    <th>head 5</th>
                    <th>head 6</th>
                    <th>head 7</th>
                    <th>head 8</th>
                    <th>head 9</th>
                    <th>head 10</th>
                </tr>
            </thead>
            <tr>
                <td>data 1</td>
                <td>data 2</td>
                <td>data 3</td>
                <td>data 4</td>
                <td>data 5</td>
                <td>data 6</td>
                <td>data 7</td>
                <td>data 8</td>
                <td>data 9</td>
                <td>data 10</td>
            </tr>
            <tr>
                <td>data 1</td>
                <td>data 2</td>
                <td>data 3</td>
                <td>data 4</td>
                <td>data 5</td>
                <td>data 6</td>
                <td>data 7</td>
                <td>data 8</td>
                <td>data 9</td>
                <td>data 10</td>
            </tr>
            <tr>
                <td>data 1</td>
                <td>data 2</td>
                <td>data 3</td>
                <td>data 4</td>
                <td>data 5</td>
                <td>data 6</td>
                <td>data 7</td>
                <td>data 8</td>
                <td>data 9</td>
                <td>data 10</td>
            </tr>
        </table>
    </div>
</div>