.container-table {
    border-radius: var(--radius-sm);
    background: var(--color-container);
    padding: var(--table-padding);
    display: grid;
    grid-template-rows:42px auto 20px;
    row-gap: var(--spacing-sm);
}

.grid-header {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    margin-bottom: var(--spacing-sm);
}

.grid-header-column-1 {
    display: grid;
    grid-template-columns: 1fr;
}

.grid-header-column-2 {
    display: flex;
    justify-content: end;
    gap: var(--spacing-xs);
}

.elem-1 {
    display: flex;
    justify-content: end;
}

.elem-2 {
    display: flex;
    justify-content: end;
}

.elem-3 {
    display: flex;
    justify-content: end;
}


/* TABLE */
.table {
    width: 100%;
    text-align: center;
    border-collapse:collapse ;
}

.table th {
    height: 57px;
    border-bottom:1px solid var(--color-primary-200);
    border-top:1px solid var(--color-primary-200);
}

.table td {
    height: 57px;
    border-bottom:1px solid var(--color-primary-200);
    border-top:1px solid var(--color-primary-200);
}